<%- include('./header.ejs') %>

<br><br><br>
<section class="abou">
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 w-100">
                <img src="/assets/img/tech1.jpg" alt="" style="width: 100%;height: 360px;">
            </div>
            <div class="col-md-7 text-justify">
                <p class="para">Bachelor of Technology (BTech) is a professional undergraduate engineering degree programme awarded to candidates after they complete four years of study in the field. Engineering is one of the most popular courses in India and there are many institutes that offer the course to aspiring students. For admissions, the most common BTech entrance examinations are JEE Main and JEE Advanced. Along with these national level entrance examinations, there are many state and private level entrance examinations that the students can attempt for admission to the course. The basic eligibility criteria for BTech is class 12 with Physics, Chemistry and Mathematics. However, there are additional criteria in every entrance exam and institute. Some of the institutes also conduct admission to their courses on merit basis i.e. based on marks scored by candidates in their class 12 board exams.</p>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-justify">
                <p class="para">A Master of Computer Application (MCA) is a postgraduate degree in computer application awarded in India. It is a three year (6 semester) for all eligible bachelor degree holders and two year (4 semester) course for candidates having Bachelor of Computer Application (BCA) or B.Sc (IT) degree. The students entering MCA must have a bachelor degree with Mathematics as one of the subjects at higher secondary or graduation.[1] The program is a blend of both theoretical and practical knowledge. The MCA program focuses on providing a sound theoretical background as well as good practical exposure to students in the relevant areas. It is intended to provide a modern, industry oriented education in applied computer science. It aims at producing trained professionals who can successfully meet the demands of the information technology industry.</p>
            </div>
            <div class="col-md-5 w-100">
                <img src="/assets/img/tech2.jpg" alt="" style="width: 100%;height: 360px;">
            </div>
        </div>
    </div>
</section>

<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 w-100">
                <img src="/assets/img/tech3.jpg" alt="" style="width: 100%;height: 360px;">
            </div>
            <div class="col-md-7 text-justify">
                <p class="para">The MBA is the world's most popular graduate management degree. Employers love it and students can’t get enough of it. Thousands of ambitious professionals apply to different types of MBA program each year. As a generalist degree, the MBA gives you fundamental management knowledge, meaning you’ll get a holistic view of business across areas like marketing, finance, and accounting, all while developing those vital soft skills and leadership skills. The MBA gives you fundamental management knowledge, meaning you'll get a work. Famous MBA alumni include CEOs of multinational companies, successful entrepreneurs, and former Presidents. George W. Bush, Michael Bloomberg, Tim Cook, Satya Nadella, Sundar Pichai, Sheryl Sandberg—they all have MBAs.</p>
            </div>
        </div>
    </div>
</section>

<%- include('./footer.ejs') %>