<%- include('./header.ejs') %>
<br><br><br>
<section class="facul">
</section>

 
<div id="faculty-sec">
    <div class="container set-pad">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line"> <b>OUR FACULTY</b></h1>
                <p data-scroll-reveal="enter from the bottom after 0.3s">
                    <b> A faculty is a division within a university or college comprising one subject area or a group of related subject areas, possibly also delimited by level. In American usage such divisions are generally referred to as colleges or schools, but may also mix terminology.</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="faculty-div">
                    <img src="/assets/img/faculty/f1.jpg" class="img-rounded" style="width: 200px;">
                    <h3><i>JAMES BROOK</i></h3>
                    <hr />
                    <h4><b>Desigining</b> <br /><b>Department</b></h4>
                    <p>
                        <b> Design education is the teaching of theory and application 
                        in the design of products, services and environments.</b> </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                <div class="faculty-div">
                    <img src="/assets/img/faculty/f2.jpg" class="img-rounded"  style="width: 200px;">
                    <h3><i>MEGAN FOSTER</i> </h3>
                    <hr />
                    <h4><b>Engineering</b> <br /><b> Department</b></h4>
                    <p>
                        <b>  Engineering education is the activity of teaching knowledge 
                        and principles to the professional practice of engineering.</b></p>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="faculty-div">
                    <img src="/assets/img/faculty/f3.jpg" class="img-rounded" style="width: 200px;">
                    <h3><i>RILEY PIETERSON</i> </h3>
                    <hr />
                    <h4> <b>Management </b><br /> <b> Department</b></h4>
                    <p>
                        <b> A faculty is a division within a university comprising 
                        one subject or a group of related subject areas,
                        possibly also delimited by level.</b></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('./footer.ejs') %>