<br><br>
<!--FOOTER SECTION START-->
<div class="container">
    <div class="row set-row-pad">
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">
            <h2><strong>Our Location </strong></h2>
            <hr/>
            <div>
                <h4>234/80 - UFG, New Street,</h4>
                <h4>Gwalior India</h4>
                <h4><strong>Call:</strong> +91 7869391234</h4>
                <h4><strong>Email: </strong>nishant123@gmail.com</h4>
            </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">
            <h2><strong>Social Conectivity </strong></h2>
            <hr />
            <div>
                <a href="#"> <img src="/assets/img/Social/facebook.png" alt="" /> </a>
                <a href="#"> <img src="/assets/img/Social/google-plus.png" alt="" /></a>
                <a href="#"> <img src="/assets/img/Social/twitter.png" alt="" /></a>
            </div>
        </div>
    </div>
</div>
<!--FOOTER SECTION END-->
<!--FOOTER SECTION START-->
<div id="footer">
    &copy 2022 ns infosys.com | All Rights Reserved | <a href="www.ns infosys.com" style="color: #fff" target="_blank">Design by : www.ns infosys.com</a>
</div>
<!-- FOOTER SECTION END-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!--  Jquery Core Script -->
  <script src="/assets/js/jquery-1.10.2.js"></script>
  <!--  Core Bootstrap Script -->
  <script src="/assets/js/bootstrap.js"></script>
  <!--  Flexslider Scripts -->
  <script src="/assets/js/jquery.flexslider.js"></script>
  <!--  Scrolling Reveal Script -->
  <script src="/assets/js/scrollReveal.js"></script>
  <!--  Scroll Scripts -->
  <script src="/assets/js/jquery.easing.min.js"></script>
  <!--  Custom Scripts -->
  <script src="/assets/js/custom.js"></script>

</body>

</html>